.admin-box {
    padding: 10px;
    height: 100vh;
}
.menu {
    width: 200px;
    background-color: lightgray;
    border-radius: 10px;
}
.menu>ul>li>button {
    transition: .3s;
    font-weight: 700;
}
.menu>ul>li>a:hover {
    transition: .3s;
    text-decoration: underline;
}
.menu>ul>li>a{
    box-shadow: none!important;
}
.content {
    width: 100%;
    margin-left: 10px;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
    /*overflow: hidden;*/
}
.categories-btn-add {
    width: 150px;
    height: 42px;
}
.categories-add {
    width: fit-content;
    margin-right: 10px;
    border-radius: 5px;
    border: 2px solid lightblue;
    color: #9a9a9a;
}
.categories-add:focus {
    border: 2px solid #52a2b8!important;
    outline: #52a2b8;
    color: black;
}
.category-box {
    height: 100%;

    /*background-color: red;*/
}
.table {
    max-width: fit-content;
}

.product-table td {
    max-width: 300px;
    word-wrap: break-word;

}
.js-example-basic-single {
    width: 50%;
}
.add-product-price {
    display: block;
    width: 130px;
}
.add-product-name {
    margin-left: 12px;
}
#product-form>.form-group {
    display: flex;
}
#product-form>.form-group>.form-group>input {
    height: 42px;
    margin-left: 0;
    padding-left: 10px;
}
.table-wrapper {
    padding-bottom: 20px;
}
.help-block {
    color: red;
}
.update-categories-btn {
    width: 31%;
    height: 42px;
}
.update-product {
    height: 42px;
}
.product-photo {
    padding: 0;
    margin: 0;
}
.product-photo li {
    list-style: none;
}
.gallery form {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.gallery form:hover>button{
    visibility: visible;
}
.gallery form>button {
    margin: 0 auto;
    visibility: hidden;
}